.activityContainer{
	position:relative;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	//background: url(../../../assets/images/aa005-01.jpg) no-repeat center center;
	background-size:cover;
    top: 48px;
    height: calc(100% - (48px + 0px));
	display:none;
}
.text-content1 h1{
font-family:lato-bold;
    margin: 0 0 12px;
    font-size: 32px;
    line-height: 107%;
    text-transform: uppercase;
}
.primary-text p{
	margin-bottom: 0;
}
.activityContainer::after {
    width: 60%;
    min-width: 750px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #00a3ad;
    opacity: 0.15;
    -webkit-transform: skew(25deg);
    -ms-transform: skew(25deg);
    transform: skew(25deg);
    z-index: -2;
    content: '';
}
.activityContainer .content1::before {
    width: 100px;
    height: 155px;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(#c8d325), to(#f3e500));
    background: linear-gradient(to right, #c8d325 0%, #f3e500 100%);
    -webkit-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    transform: skew(-25deg);
    content: '';
    z-index: -1;
	top: 0;
    left: -65px;
} 
.activityContainer .content1::after {
    width: 100px;
    height: 155px;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, from(#c8d325), to(#f3e500));
    background: linear-gradient(to right, #c8d325 0%, #f3e500 100%);
    -webkit-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    transform: skew(-25deg);
    content: '';
    z-index: -1;
	
	    bottom: 0;
    right: -65px;
}
.content1{
  display: -webkit-box;
	display: -webkit-flex;	
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding-bottom: 20px;
	width: 100%;
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	   
}
.panel_1 .primary-text{

	-webkit-animation: fadeIn 700ms;
    animation: fadeIn 700ms ;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	animation-delay: 400ms;
}.panel_1 .directions-text{

	-webkit-animation: fadeIn 700ms;
    animation: fadeIn 700ms ;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	animation-delay: 700ms;
}
.primary-text{

    margin: 0 0 12px;
}
.directions-text {
    font-weight: 900;
    font-family:lato-bold;


	
}
.directions-text p{margin-bottom: 0;}
h1 {
    margin: 0 0 12px;
    font-size: 32px;
    line-height: 107%;
    text-transform: uppercase;
}
.panel_1{
	width: 100%;
    margin: auto auto 0;
    background-color: transparent;
	    padding: 24px;
    padding-left: 100px;
		 max-width: 1012px;
}
.panel_1 .title-text {

	-webkit-animation: fadeInDown 350ms;
    animation: fadeInDown 350ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
 }
.explore .content1 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.explore .content1 .node-holder {
    width: calc(100% - 40px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto auto;
    padding-bottom: 24px;
    -webkit-animation: zoomIn 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: zoomIn 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
	    max-width: 1012px;

}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
 }
.explore .node {
    width: 220px;
    height: 325px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 12px;
    -webkit-transition: height 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms, width 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
    transition: height 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 300ms, width 300ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
}
.explore .node::before {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -8px;
    right: -8px;
    background: url(../../../assets/images/icon-checkmark-white.svg) no-repeat center center, -webkit-gradient(linear, left top, right top, from(#009a44), to(#c4d600));
    background: url(../../../assets/images/icon-checkmark-white.svg) no-repeat center center, linear-gradient(to right, #009a44 0%, #c4d600 100%);
    background-size: 20px 20px, 100% 100%;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
    content: '';
}
.explore .node-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
}
.explore .label-holder {
    width: 100%;
    max-width: 200px;
    position: relative;
    margin: 8px 0 0 18px;
    color: #fff;
}
.explore .label-holder .node-label {
    padding: 24px 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
	font-family: 'font-primary';
}
.explore .label-holder::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    transform: skew(-5deg);
    background-color: #00a3ad;
    z-index: -1;
    -webkit-transition: background-color 250ms;
    transition: background-color 250ms;
    content: '';
}
.explore .node.active {
    height: 400px;
    width: 500px;
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    cursor: default;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
.explore .node-content {
    height: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: -10px;
    padding: 12px;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.explore .node .graphic-holder {
    -webkit-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    transform: skew(-5deg);
    overflow: hidden;
    z-index: 0;
}
.explore .background-graphic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}
.explore .node .graphic-holder .graphic {
    width: 120%;
    height: 100%;
    position: relative;
    left: 50%;
    background-size: cover;
    -webkit-transform: translateX(-50%) skew(5deg);
    -ms-transform: translateX(-50%) skew(5deg);
    transform: translateX(-50%) skew(5deg);
}
.explore .node::before {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -8px;
    right: -8px;
    background: url(../../../assets/images/icon-checkmark-white.svg) no-repeat center center, -webkit-gradient(linear, left top, right top, from(#009a44), to(#c4d600));
    background: url(../../../assets/images/icon-checkmark-white.svg) no-repeat center center, linear-gradient(to right, #009a44 0%, #c4d600 100%);
    background-size: 20px 20px, 100% 100%;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2;
    content: '';
}
.explore .node::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #00a3ad;
    z-index: -2;
    -webkit-transform: skew(-5deg);
    -ms-transform: skew(-5deg);
    transform: skew(-5deg);
    -webkit-transition: background-color 250ms;
    transition: background-color 250ms;
    content: '';
}
.explore .node.over:not(.active)::after {
	background-color: #2a2867; 
}
.explore .node.over:not(.active) .label-holder::after {
	background-color: #2a2867; 
}
.explore .node.visited::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.explore .node-content .primary-text {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    overflow-y: auto;
	    margin: 0 0 12px;
}
.explore .node-content {
    height: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: -10px;
    padding: 10px;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 400ms;
    transition: all 400ms;
}
.explore .node-content::after {
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) skew(-5deg);
    -ms-transform: translateX(-50%) skew(-5deg);
    transform: translateX(-50%) skew(-5deg);
    background-color: #fff;
    z-index: -1;
    content: '';
}
.explore .node.active .node-content {
    height: 255px;
    opacity: 1;
    -webkit-transition-delay: 850ms;
    transition-delay: 850ms;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } 
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } 
}
